<head>
  <link rel="stylesheet" type="text/css" href="bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="bower_components/skeleton/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	<div id="app">
		<%- reactOutput %>
	</div>
	<script src='app.js'></script>
</body>